## DATA CLEANING AND COMBINING

### College Hockey Box score scrape data

-Opened 4/3/2024

# NOTE - Current version creates combined db with lots of duplicate rows.
## Run through the DB_DUP_CHECK_SCRATCH to remove until this can be fixed

In [24]:
# Dependencies

import sqlite3
import pandas as pd
import numpy as np
import os

## 4-8-24 NEW FIXES NEEDED
- Missing Rosters for at least 2012 and 2017

- Player still has captan information in some of the years '(C)' or '(A)' in between first and last name

also need to remove double spaces in the Player Name column

In [25]:
database_path = os.path.join('..', 'data', 'db', 'Cleaned_DB_AP_7.db')
conn = sqlite3.connect(database_path)
c = conn.cursor()

# Print table names
c.execute("SELECT name FROM sqlite_master WHERE type='table';")
print(c.fetchall())

# Roster path
roster_path = os.path.join('..', 'TEMP', 'roster_data_2017.csv')
roster_df = pd.read_csv(roster_path)
roster_df.head()

[('scoring_summary',), ('penalty_summary',), ('goalie_stats',), ('player_stats',), ('linescore',), ('game_details',), ('player_stats_ytd',), ('line_chart',), ('advanced_metrics',), ('master_roster',)]

,Team,Player,No,Position,Yr,Ht,Wt,DOB,Hometown,Height_Inches,Draft_Year,NHL_Team,D_Round,Last Team,League,Season
0,Alabama Huntsville,Richard Buri,33,Defensemen,Sr,6-5,215,1/12/1994,"Nitra, Slovakia",77,NaN,NaN,NaN,Minnesota,NAHL,2017
1,Alabama Huntsville,Cody Champagne,5,Defensemen,Sr,5-11,185,4/9/1994,"Brookfield, Conn.",71,NaN,NaN,NaN,Topeka,NAHL,2017
2,Alabama Huntsville,Kurt Gosselin,28,Defensemen,Jr,6-1,200,11/30/1994,"Brighton, Mich.",73,NaN,NaN,NaN,Alberni Valley,BCHL,2017
3,Alabama Huntsville,Connor James,4,Defensemen,So,5-9,170,10/11/1996,"Wainwright, Alb.",69,NaN,NaN,NaN,Spruce Grove,AJHL,2017
4,Alabama Huntsville,Cam Knight,2,Defensemen,Jr,6-1,195,1/10/1995,"North Reading, Mass.",73,NaN,NaN,NaN,Wichita Falls,NAHL,2017

In [26]:
data = roster_df.copy()

## Transform the Player column - contains captain and co-captain information in parentheses
### Remove and store in new column called 'captain'
#### example of '(C)' and '(A)' in the Player column - remove and the letter in parentheses in new column
## Then Remove the parentheses and letter from the 'Player' column

data['captain'] = data['Player'].str.extract(r'\((\w)\)')
data['Player'] = data['Player'].str.replace(r'\(\w\)', '', regex=True)


# Remove any leading or trailing white spaces from the 'Player' column
data['Player'] = data['Player'].str.strip()










## Split the 'Player' column into 'First' and 'Last' columns
# data[['First', 'Last']] = data['Player'].str.split(' ', 1, expand=True)

data.tail(20)

# value_counts() for 'captain' column
data['captain'].value_counts()

pre_filt1 = data.copy()  
# Drop any rows with missing values in the 'Team' column
data = data.dropna(subset=['Team'])
pre_filt2 = data.copy()
# Drop Rows with Empty Season
data = data.dropna(subset=['Season'])
prefilt3 = data.copy()
# drop any rows with missing values in the 'Player' column
data = data.dropna(subset=['Player'])

# Make sure Season, Height_in & No are ints
data['Season'] = data['Season'].astype(int)
data['No'] = data['No'].astype(int)
data['Height_Inches'] = data['Height_Inches'].astype(int)

# If D_Round not Nan then convert to int
data['D_Round'] = data['D_Round'].fillna(0)
data['D_Round'] = data['D_Round'].astype(int)

data['Draft_Year'] = data['Draft_Year'].fillna(0)
data['Draft_Year'] = data['Draft_Year'].astype(int)


# rename Player to Clean_Name for ease of join
data = data.rename(columns={'Player': 'Clean_Name'})



# data['D_Round'] = data['D_Round'].astype(str)

# Drop any columns that are all NA
data = data.dropna(axis=1, how='all')

# # Print lengths to check filter
# print(len(pre_filt1))
# print(len(pre_filt2))
# print(len(prefilt3))
# print(len(data))

In [27]:
# data.head(20)

In [28]:
# Open the database connection and insert the cleaned single season roster to the master_roster table

data.to_sql('master_roster', conn, if_exists='append', index=False)

1663

In [29]:

# Now, let's fetch the data back from the database to compare
query = "SELECT * FROM master_roster WHERE Season = 2012;"
db_data = pd.read_sql(query, conn)

# Assuming 'YOUR_SEASON_YEAR' is the season year of the data you just inserted.
# Now, you might want to compare the 'db_data' DataFrame to your 'data' DataFrame to ensure they match

# To compare, you can use the following:
if db_data.equals(data):
    print("The data in the database matches the inserted data.")
else:
    print("The data in the database does not match the inserted data.")

# Close the connection when done
conn.close()

The data in the database does not match the inserted data.

### Clean the Clean_Name column from master roster

In [30]:
master_roster_query = "SELECT * FROM master_roster;"
# open the connection
conn = sqlite3.connect(database_path)
# read the data into a DataFrame


master_roster_df = pd.read_sql(master_roster_query, conn)

master_roster_df.head()
master_roster_df.tail()
master_roster_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 84961 entries, 0 to 84960
Data columns (total 18 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Team           84961 non-null  object
 1   Clean_Name     84961 non-null  object
 2   No             84961 non-null  int64
 3   Position       84961 non-null  object
 4   Yr             60645 non-null  object
 5   Ht             84898 non-null  object
 6   Wt             84961 non-null  int64
 7   DOB            61293 non-null  object
 8   Hometown       76781 non-null  object
 9   Height_Inches  84961 non-null  int64
 10  Draft_Year     84961 non-null  int64
 11  NHL_Team       4641 non-null   object
 12  D_Round        84961 non-null  int64
 13  Last Team      43481 non-null  object
 14  League         37197 non-null  object
 15  Season         84961 non-null  int64
 16  file           78557 non-null  object
 17  captain        2561 non-null   object
dtypes: int64(6), object(12)
memory usage: 11.7+ MB

In [31]:
data = master_roster_df.copy()

### Clean the Name COlumn of Captain and Co-Captain stuff
data['captain'] = data['Clean_Name'].str.extract(r'\((\w)\)')
data['Clean_Name'] = data['Clean_Name'].str.replace(r'\(\w\)', '', regex=True)


# Remove any leading or trailing white spaces from the 'Player' column
data['Clean_Name'] = data['Clean_Name'].str.strip()

# Remove any ddouble spaces in the middle of the name
data['Clean_Name'] = data['Clean_Name'].str.replace(r'\s+', ' ', regex=True)

In [35]:
# data.head(10)
# data.tail(10)

# # Sort by season and show tail
# data = data.sort_values(by=['Season', 'Team', 'Clean_Name'])
# data.tail(10)

# Overwrite the master_roster table with the cleaned data
data.to_sql('master_roster', conn, if_exists='replace', index=False)

# Close the connection
conn.close()

## END BLOCK

In [ ]:
breakpoint()

In [ ]:
# paths and setup

roster_path = os.path.join('..', 'data', 'rosters', 'all_time_combined_roster.csv')
# read in the roster
roster = pd.read_csv(roster_path)
# roster.info() # Display the data types of each column


# Database folder path
db_folder = os.path.join('..', 'data', 'db', 'box_scores')

# list the db files in the directory
db_files = os.listdir(db_folder)
# db_files

## Check the roster data in each .db file
### Make corrections - also add Season column to all tables

In [ ]:
## Verify and correct the data in the master_roster table of a .db file

# Includes a check to make sure the table is present in the database

In [ ]:
# def correct_db_file(db_file, roster_df):
#     year = int(db_file[:4])  # Extract the year from the filename
#     db_path = os.path.join(db_folder, db_file)
#     conn = sqlite3.connect(db_path)
    
#     cursor = conn.cursor()
#     # Check if master_roster table exists
#     cursor.execute("SELECT name FROM sqlite_master WHERE type='table' AND name='master_roster';")
#     if cursor.fetchone():
#         # Check if the Season column exists in the master_roster table
#         cursor.execute("PRAGMA table_info(master_roster);")
#         columns = [row[1] for row in cursor.fetchall()]
#         if "Season" not in columns:
#             cursor.execute("ALTER TABLE master_roster ADD COLUMN Season INTEGER")
        
#         # Correct the master_roster table if needed
#         cursor.execute("SELECT DISTINCT Season FROM master_roster")
#         seasons = cursor.fetchall()
#         if len(seasons) != 1 or seasons[0][0] != year:
#             cursor.execute("DELETE FROM master_roster")
#             # Handle column name variations
#             correct_roster = roster_df[roster_df['Season'] == year].copy()
#             if 'Clean_Name' not in correct_roster.columns and 'Clean-Name' in correct_roster.columns:
#                 correct_roster.rename(columns={'Clean-Name': 'Clean_Name'}, inplace=True)
#             elif 'Clean_Name' not in correct_roster.columns and 'player' in correct_roster.columns:
#                 correct_roster.rename(columns={'player': 'Clean_Name'}, inplace=True)
#             correct_roster.to_sql('master_roster', conn, if_exists='append', index=False)
    
#     # Add Season column to all tables as redundancy, checking first if it exists
#     cursor.execute("SELECT name FROM sqlite_master WHERE type='table'")
#     tables = cursor.fetchall()
#     for table in tables:
#         table_name = table[0]
#         cursor.execute(f"PRAGMA table_info({table_name});")
#         columns = [row[1] for row in cursor.fetchall()]
#         if "Season" not in columns:
#             try:
#                 cursor.execute(f"ALTER TABLE {table_name} ADD COLUMN Season INTEGER")
#                 cursor.execute(f"UPDATE {table_name} SET Season = {year}")
#             except sqlite3.OperationalError as e:
#                 print(f"Error updating table {table_name}: {str(e)}")
    
#     conn.commit()
#     conn.close()
#     print(f"Database {db_file} has been corrected.")

In [ ]:
# for db_file in db_files:
#     if db_file.endswith('.db'):  # Ensure it's a database file
#         correct_db_file(db_file, roster)

In [ ]:
# ## FIX ie - add season column to the two Full_Stats.db files' tables

# # list the files in the directory that contain the string 'Full_Stats'
# full_stats_files = [file for file in db_files if 'Full_Stats' in file]
# full_stats_files

In [ ]:
# def add_season_column_to_dbs(db_path, full_stats_files):
#     for db_file in full_stats_files:
#         year = int(db_file[:4])  # Extract the year from the filename
#         full_db_path = os.path.join(db_path, db_file)  # Construct the full path to the database file
#         conn = sqlite3.connect(full_db_path)
#         cursor = conn.cursor()
        
#         # Retrieve all table names in the database
#         cursor.execute("SELECT name FROM sqlite_master WHERE type='table'")
#         tables = cursor.fetchall()
        
#         for table in tables:
#             table_name = table[0]
#             # Check if the Season column exists
#             cursor.execute(f"PRAGMA table_info({table_name});")
#             columns = [row[1] for row in cursor.fetchall()]
#             if "Season" not in columns:
#                 cursor.execute(f"ALTER TABLE {table_name} ADD COLUMN Season INTEGER DEFAULT {year}")
#                 cursor.execute(f"UPDATE {table_name} SET Season = {year}")
        
#         conn.commit()
#         conn.close()

# # Assume db_path is the directory where your DB files are stored
# db_path = '/mnt/data'  # Update this to your actual db directory path

# # List of database filenames to process
# full_stats_files = ['2021_Full_Stats.db', '2022_Full_Stats.db']

# # Add Season column to each table in the listed databases
# add_season_column_to_dbs(db_folder, full_stats_files)

# print("Season column added to all tables in the listed databases.")

In [ ]:
### OLD CODE
# def adjust_table_schema(new_db_conn, source_conn, table_name):
#     """
#     Adjusts the table schema in the new database based on the source table schema,
#     adding any missing columns and renaming 'Clean_Name' to 'Player' if necessary.
#     """
#     source_cur = source_conn.cursor()
#     new_db_cur = new_db_conn.cursor()
    
#     # Get column info from the source table
#     source_cur.execute(f"PRAGMA table_info({table_name})")
#     source_columns = source_cur.fetchall()
    
#     # Get column info from the new (combined) table
#     new_db_cur.execute(f"PRAGMA table_info({table_name})")
#     new_columns = new_db_cur.fetchall()
    
#     # Convert fetched info into sets of column names for easy comparison
#     source_column_names = {col[1] for col in source_columns}
#     new_column_names = {col[1] for col in new_columns}
    
#     # Identify if we're dealing with a 'Clean_Name' to 'Player' transition
#     rename_clean_name_to_player = "Clean_Name" in new_column_names and "Player" not in source_column_names
    
#     # Determine missing columns and add them to the new table
#     missing_columns = source_column_names - new_column_names
#     for col in source_columns:
#         col_name, col_type = col[1], col[2]
#         if col_name in missing_columns:
#             # Handle the special case for renaming 'Clean_Name' to 'Player'
#             if table_name == "master_roster" and rename_clean_name_to_player:
#                 if col_name == "Clean_Name":
#                     # If "Clean_Name" should be renamed to "Player" and doesn't exist, skip adding "Clean_Name"
#                     continue
#                 elif col_name == "Player":
#                     # If dealing with "Player", ensure it's correctly added or renamed
#                     alter_stmt = f"ALTER TABLE \"{table_name}\" RENAME COLUMN \"Clean_Name\" TO \"Player\""
#                     new_db_cur.execute(alter_stmt)
#                     continue
#             else:
#                 # Regular column addition for non-special cases
#                 alter_stmt = f"ALTER TABLE \"{table_name}\" ADD COLUMN \"{col_name}\" {col_type}"
#                 new_db_cur.execute(alter_stmt)
    
#     new_db_conn.commit()

In [ ]:
def adjust_table_schema(new_db_conn, source_conn, table_name):
    """
    Adjusts the table schema in the new database based on the source table schema,
    adding any missing columns and ensuring no duplicate additions.
    """
    source_cur = source_conn.cursor()
    new_db_cur = new_db_conn.cursor()
    
    # Get column info from the source table
    source_cur.execute(f"PRAGMA table_info({table_name})")
    source_columns = source_cur.fetchall()
    
    # Get column info from the new (combined) table
    new_db_cur.execute(f"PRAGMA table_info({table_name})")
    new_columns = new_db_cur.fetchall()
    
    new_column_names = {col[1] for col in new_columns}
    
    for col in source_columns:
        col_name, col_type = col[1], col[2]
        
        # Check directly if the column already exists in the new table
        if col_name not in new_column_names:
            # Proceed with adding the column
            try:
                alter_stmt = f"ALTER TABLE \"{table_name}\" ADD COLUMN \"{col_name}\" {col_type}"
                new_db_cur.execute(alter_stmt)
            except sqlite3.OperationalError as e:
                print(f"Error adding column {col_name} to table {table_name}: {e}")
    
    new_db_conn.commit()

## Combine the databases into a new file

- version 1 simple logic

In [ ]:
import sqlite3
import os

def create_table_from_source(new_db_conn, source_conn, table_name):
    """
    Creates a table in the new database based on the schema of the source table.
    """
    source_cur = source_conn.cursor()
    source_cur.execute(f"PRAGMA table_info({table_name})")
    columns = source_cur.fetchall()
    
    # Rename 'Clean_Name' column to 'Player' for the master_roster table
    if table_name == "master_roster":
        columns = [(col[0], 'Player' if col[1] == 'Clean_Name' else col[1], col[2], col[3], col[4], col[5]) for col in columns]
    
    # Construct the CREATE TABLE statement
    col_defs = ', '.join([f'"{col[1]}" {col[2]}' for col in columns])
    create_stmt = f"CREATE TABLE IF NOT EXISTS {table_name} ({col_defs})"
    
    new_db_conn.execute(create_stmt)

def insert_data_from_source(new_db_conn, source_conn, table_name):
    """
    Inserts data from the source table into the corresponding table in the new database.
    Handles renaming 'Clean_Name' to 'Player' if necessary and quotes column names to avoid syntax errors.
    """
    source_cur = source_conn.cursor()
    source_cur.execute(f"SELECT * FROM {table_name}")
    column_names = [description[0] for description in source_cur.description]
    
    # Handle potential 'Clean_Name' to 'Player' renaming
    if 'Clean_Name' in column_names and table_name == "master_roster":
        column_names = ['Player' if col == 'Clean_Name' else col for col in column_names]
    
    # Quote column names to handle reserved words or special characters
    columns_str = ', '.join([f'"{col}"' for col in column_names])
    placeholders = ', '.join(['?'] * len(column_names))
    
    data = source_cur.fetchall()
    new_db_cur = new_db_conn.cursor()
    
    try:
        new_db_cur.executemany(f"INSERT INTO \"{table_name}\" ({columns_str}) VALUES ({placeholders})", data)
        new_db_conn.commit()
    except sqlite3.IntegrityError as e:
        print(f"Integrity error occurred while inserting data into {table_name}: {e}")


def combine_databases(db_folder, output_db_path):
    # Connect to the new database (this will create it if it doesn't exist)
    new_db_conn = sqlite3.connect(output_db_path)
    
    for db_file in os.listdir(db_folder):
        if db_file.endswith('.db'):
            source_db_path = os.path.join(db_folder, db_file)
            source_conn = sqlite3.connect(source_db_path)
            
            # Get list of tables from the source DB
            source_cur = source_conn.cursor()
            source_cur.execute("SELECT name FROM sqlite_master WHERE type='table'")
            tables = source_cur.fetchall()
            
            for table_info in tables:
                table_name = table_info[0]
                
                # Ensure the table exists and its schema is up-to-date
                create_table_from_source(new_db_conn, source_conn, table_name)
                adjust_table_schema(new_db_conn, source_conn, table_name)
                
                # Then insert data
                insert_data_from_source(new_db_conn, source_conn, table_name)

            
            source_conn.close()
    
    new_db_conn.close()

# Example usage
# db_folder = 'path/to/your/db_folder'  # DEFINED ABOVE IN SETUP
output_db_path = f'{db_folder}/../Combined_DB_v2.db'  # Choose your output path
combine_databases(db_folder, output_db_path)

print("Databases combined successfully.")

In [ ]:
# Define your db_folder and the path for the new, combined database
# db_folder = 'path/to/your/db_folder'  # Update this path