## Cacluate The amount of times each team has spent tied, leading, trailing, ect

In [ ]:
import pandas as pd

# path to single game file
path = '../TEMP/single_game_scoring.csv'
path = '../TEMP/ss_example_3.csv'

def calculate_game_states_dataframe_ot_tie_corrected_v2(file_path):
    data = pd.read_csv(file_path)

    def period_elapsed_to_seconds(period, time_str):
        minutes, seconds = map(int, time_str.split(':'))
        elapsed_seconds = minutes * 60 + seconds
        
        if '1st' in period:
            return elapsed_seconds
        elif '2nd' in period:
            return 20 * 60 + elapsed_seconds
        elif '3rd' in period:
            return 40 * 60 + elapsed_seconds
        else:  # Overtime
            return 60 * 60 + elapsed_seconds

    data['Total_Seconds'] = data.apply(lambda row: period_elapsed_to_seconds(row['Period'], row['Time']), axis=1)

    teams = list(set(data['Home_Team'].unique().tolist() + data['Away_Team'].unique().tolist()))
    team_states = {team: {'Tied': 0, 'Lead by 1': 0, 'Lead by 2': 0, 'Lead by 3+': 0,
                          'Down by 1': 0, 'Down by 2': 0, 'Down by 3+': 0} for team in teams}
    
    current_score = {teams[0]: 0, teams[1]: 0}
    last_timestamp = 0
    game_end = 3 * 20 * 60  # Default game end, will adjust if OT is detected
    overtime_played = False

    first_goal_time = data.sort_values(by='Total_Seconds').iloc[0]['Total_Seconds'] if not data.empty else 0
    team_states[teams[0]]['Tied'] = first_goal_time
    team_states[teams[1]]['Tied'] = first_goal_time
    last_timestamp = first_goal_time

    for index, row in data.sort_values(by='Total_Seconds').iterrows():
        current_score[row['Team']] += 1
        lead_diff = current_score[teams[0]] - current_score[teams[1]]
        time_elapsed = row['Total_Seconds'] - last_timestamp

        if 'OT' in row['Period']:
            overtime_played = True
            game_end = row['Total_Seconds']  # Adjust game end to when OT goal is scored

        if lead_diff == 0:
            for team in teams:
                team_states[team]['Tied'] += time_elapsed
        else:
            leading_team, trailing_team = (teams[0], teams[1]) if lead_diff > 0 else (teams[1], teams[0])
            lead_abs = abs(lead_diff)
            update_states = lambda lead: (f'Lead by {min(lead, 3)}+' if lead >= 3 else f'Lead by {lead}',
                                          f'Down by {min(lead, 3)}+' if lead >= 3 else f'Down by {lead}')
            state_lead, state_trail = update_states(lead_abs)
            team_states[leading_team][state_lead] += time_elapsed
            team_states[trailing_team][state_trail] += time_elapsed
        
        last_timestamp = row['Total_Seconds']

    # Determine if game ended in a tie without explicit OT goal and adjust game_end correctly
    lead_diff_final = current_score[teams[0]] - current_score[teams[1]]
    if lead_diff_final == 0 and not overtime_played:
        # Adjust for games that end in a tie without 'OT' period goals
        overtime_played = True
        game_end = 65 * 60  # Adjust game end to include 5 minutes of OT

    final_time_elapsed = game_end - last_timestamp
    if lead_diff_final == 0 and not data.empty:
        for team in teams:
            team_states[team]['Tied'] += final_time_elapsed

    team_states_df = pd.DataFrame.from_dict(team_states, orient='index').reset_index().rename(columns={'index': 'Team'})
    
    return team_states_df

# Re-generate the DataFrame with the corrected function for the new file
game_states_df_ot_tie_corrected_v2 = calculate_game_states_dataframe_ot_tie_corrected_v2(path)
game_states_df_ot_tie_corrected_v2

In [32]:
season_file_path = '../TEMP/scoring_summary_example.csv'

from tqdm import tqdm  # For progress tracking

# Function to process each game in the dataset and aggregate game states
def process_season_game_states(file_path):
    season_data = pd.read_csv(file_path)
    unique_games = season_data['Game_ID'].unique()
    
    # Initialize an empty DataFrame for aggregating results
    season_aggregate_states = pd.DataFrame()
    
    for game_id in tqdm(unique_games, desc="Processing Games"):
        game_data = season_data[season_data['Game_ID'] == game_id]
        
        # Save individual game data to a temporary CSV to use with the existing function
        temp_game_path = '../TEMP/temp_game.csv'
        game_data.to_csv(temp_game_path, index=False)
        
        # Calculate game states for the current game
        game_states_df = calculate_game_states_dataframe_ot_tie_corrected_v2(temp_game_path)
        
        # Aggregate the results
        if season_aggregate_states.empty:
            season_aggregate_states = game_states_df
        else:
            season_aggregate_states = season_aggregate_states.merge(game_states_df, on='Team', how='outer')
            for state in ['Tied', 'Lead by 1', 'Lead by 2', 'Lead by 3+', 'Down by 1', 'Down by 2', 'Down by 3+']:
                season_aggregate_states[state] = season_aggregate_states[f'{state}_x'].fillna(0) + season_aggregate_states[f'{state}_y'].fillna(0)
                season_aggregate_states.drop([f'{state}_x', f'{state}_y'], axis=1, inplace=True)
    
    return season_aggregate_states

# Process the season dataset
season_aggregate_stats_df = process_season_game_states(season_file_path)

season_aggregate_stats_df

Processing Games: 100%|██████████| 949/949 [00:15<00:00, 62.42it/s]

,Team,Tied,Lead by 1,Lead by 2,Lead by 3+,Down by 1,Down by 2,Down by 3+
0,Michigan State,37306.0,11575.0,16762.0,15615.0,6522.0,7398.0,9076.0
1,Lake Superior,42732.0,5041.0,9740.0,10163.0,12381.0,12215.0,8420.0
2,Clarkson,43168.0,13894.0,8768.0,7265.0,10748.0,9360.0,9947.0
3,Notre Dame,38696.0,12298.0,9300.0,14070.0,10975.0,9200.0,11125.0
4,St. Lawrence,44779.0,10003.0,6121.0,1764.0,15015.0,10175.0,12540.0
...,...,...,...,...,...,...,...,...
59,Harvard,37949.0,7778.0,2807.0,1674.0,10991.0,11827.0,8045.0
60,Brown,41847.0,10080.0,6267.0,1444.0,5585.0,9305.0,12833.0
61,Yale,40284.0,4130.0,6330.0,5472.0,9553.0,9754.0,7444.0
62,Cornell,39702.0,8719.0,13281.0,13734.0,5317.0,2142.0,1287.0
63,Princeton,34399.0,9890.0,4817.0,1331.0,12417.0,10621.0,13932.0

In [33]:
# Sort by Down by 3+ time to find the teams that were trailing by 3+ goals the most
# season_aggregate_stats_df.sort_values(by='Down by 3+', ascending=True).head(10)

,Team,Tied,Lead by 1,Lead by 2,Lead by 3+,Down by 1,Down by 2,Down by 3+
14,Quinnipiac,44010.0,12005.0,13185.0,22966.0,9036.0,277.0,0.0
26,Boston University,38900.0,14559.0,15283.0,17556.0,8227.0,4381.0,209.0
41,Western Michigan,34793.0,11557.0,10982.0,16218.0,14565.0,6006.0,337.0
15,Boston College,32695.0,15381.0,17377.0,17825.0,9288.0,4069.0,1059.0
31,Wisconsin,45887.0,10226.0,15350.0,17234.0,9372.0,5100.0,1097.0
62,Cornell,39702.0,8719.0,13281.0,13734.0,5317.0,2142.0,1287.0
56,Arizona State,56470.0,12342.0,9784.0,9025.0,12103.0,7272.0,1805.0
7,St. Cloud State,48115.0,9103.0,13268.0,6496.0,7255.0,8768.0,2034.0
42,Maine,33543.0,15194.0,12445.0,10574.0,11815.0,5221.0,2104.0
40,Holy Cross,50350.0,12131.0,16086.0,11219.0,11374.0,8069.0,2349.0

In [34]:
### Calculate the percentages for the different game states
# Calculate the total game time for each team
season_aggregate_stats_df['Total_Time'] = season_aggregate_stats_df['Tied'] + season_aggregate_stats_df['Lead by 1'] + season_aggregate_stats_df['Lead by 2'] + season_aggregate_stats_df['Lead by 3+'] + season_aggregate_stats_df['Down by 1'] + season_aggregate_stats_df['Down by 2'] + season_aggregate_stats_df['Down by 3+']

# create column of all leads and all deficits
season_aggregate_stats_df['All_Lead'] = season_aggregate_stats_df['Lead by 1'] + season_aggregate_stats_df['Lead by 2'] + season_aggregate_stats_df['Lead by 3+']
season_aggregate_stats_df['All_Deficit'] = season_aggregate_stats_df['Down by 1'] + season_aggregate_stats_df['Down by 2'] + season_aggregate_stats_df['Down by 3+']

# Calculate the percentages for each game state
for state in ['Tied', 'Lead by 1', 'Lead by 2', 'Lead by 3+', 'Down by 1', 'Down by 2', 'Down by 3+', 'All_Lead', 'All_Deficit']:
    season_aggregate_stats_df[f'PCT_{state}'] = season_aggregate_stats_df[state] / season_aggregate_stats_df['Total_Time']

# Display the DataFrame with the calculated percentages
# season_aggregate_stats_df

,Team,Tied,Lead by 1,Lead by 2,Lead by 3+,Down by 1,Down by 2,Down by 3+,Total_Time,All_Lead,All_Deficit,PCT_Tied,PCT_Lead by 1,PCT_Lead by 2,PCT_Lead by 3+,PCT_Down by 1,PCT_Down by 2,PCT_Down by 3+,PCT_All_Lead,PCT_All_Deficit
0,Michigan State,37306.0,11575.0,16762.0,15615.0,6522.0,7398.0,9076.0,104254.0,43952.0,22996.0,0.357838,0.111027,0.160780,0.149778,0.062559,0.070961,0.087057,0.421586,0.220577
1,Lake Superior,42732.0,5041.0,9740.0,10163.0,12381.0,12215.0,8420.0,100692.0,24944.0,33016.0,0.424383,0.050064,0.096731,0.100932,0.122959,0.121311,0.083621,0.247726,0.327891
2,Clarkson,43168.0,13894.0,8768.0,7265.0,10748.0,9360.0,9947.0,103150.0,29927.0,30055.0,0.418497,0.134697,0.085002,0.070431,0.104198,0.090742,0.096432,0.290131,0.291372
3,Notre Dame,38696.0,12298.0,9300.0,14070.0,10975.0,9200.0,11125.0,105664.0,35668.0,31300.0,0.366217,0.116388,0.088015,0.133158,0.103867,0.087068,0.105287,0.337561,0.296222
4,St. Lawrence,44779.0,10003.0,6121.0,1764.0,15015.0,10175.0,12540.0,100397.0,17888.0,37730.0,0.446019,0.099634,0.060968,0.017570,0.149556,0.101348,0.124904,0.178173,0.375808
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59,Harvard,37949.0,7778.0,2807.0,1674.0,10991.0,11827.0,8045.0,81071.0,12259.0,30863.0,0.468096,0.095941,0.034624,0.020649,0.135573,0.145884,0.099234,0.151213,0.380691
60,Brown,41847.0,10080.0,6267.0,1444.0,5585.0,9305.0,12833.0,87361.0,17791.0,27723.0,0.479012,0.115383,0.071737,0.016529,0.063930,0.106512,0.146896,0.203649,0.317338
61,Yale,40284.0,4130.0,6330.0,5472.0,9553.0,9754.0,7444.0,82967.0,15932.0,26751.0,0.485542,0.049779,0.076295,0.065954,0.115142,0.117565,0.089722,0.192028,0.322429
62,Cornell,39702.0,8719.0,13281.0,13734.0,5317.0,2142.0,1287.0,84182.0,35734.0,8746.0,0.471621,0.103573,0.157765,0.163147,0.063161,0.025445,0.015288,0.424485,0.103894
63,Princeton,34399.0,9890.0,4817.0,1331.0,12417.0,10621.0,13932.0,87407.0,16038.0,36970.0,0.393550,0.113149,0.055110,0.015228,0.142060,0.121512,0.159392,0.183486,0.422964

In [35]:
# Convert all time columns from seconds to minutes
for state in ['Tied', 'Lead by 1', 'Lead by 2', 'Lead by 3+', 'Down by 1', 'Down by 2', 'Down by 3+', 'All_Lead', 'All_Deficit', 'Total_Time']:
    season_aggregate_stats_df[state] = season_aggregate_stats_df[state] / 60

# Display the DataFrame with the times converted to minutes
season_aggregate_stats_df

,Team,Tied,Lead by 1,Lead by 2,Lead by 3+,Down by 1,Down by 2,Down by 3+,Total_Time,All_Lead,All_Deficit,PCT_Tied,PCT_Lead by 1,PCT_Lead by 2,PCT_Lead by 3+,PCT_Down by 1,PCT_Down by 2,PCT_Down by 3+,PCT_All_Lead,PCT_All_Deficit
0,Michigan State,621.766667,192.916667,279.366667,260.250000,108.700000,123.300000,151.266667,1737.566667,732.533333,383.266667,0.357838,0.111027,0.160780,0.149778,0.062559,0.070961,0.087057,0.421586,0.220577
1,Lake Superior,712.200000,84.016667,162.333333,169.383333,206.350000,203.583333,140.333333,1678.200000,415.733333,550.266667,0.424383,0.050064,0.096731,0.100932,0.122959,0.121311,0.083621,0.247726,0.327891
2,Clarkson,719.466667,231.566667,146.133333,121.083333,179.133333,156.000000,165.783333,1719.166667,498.783333,500.916667,0.418497,0.134697,0.085002,0.070431,0.104198,0.090742,0.096432,0.290131,0.291372
3,Notre Dame,644.933333,204.966667,155.000000,234.500000,182.916667,153.333333,185.416667,1761.066667,594.466667,521.666667,0.366217,0.116388,0.088015,0.133158,0.103867,0.087068,0.105287,0.337561,0.296222
4,St. Lawrence,746.316667,166.716667,102.016667,29.400000,250.250000,169.583333,209.000000,1673.283333,298.133333,628.833333,0.446019,0.099634,0.060968,0.017570,0.149556,0.101348,0.124904,0.178173,0.375808
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59,Harvard,632.483333,129.633333,46.783333,27.900000,183.183333,197.116667,134.083333,1351.183333,204.316667,514.383333,0.468096,0.095941,0.034624,0.020649,0.135573,0.145884,0.099234,0.151213,0.380691
60,Brown,697.450000,168.000000,104.450000,24.066667,93.083333,155.083333,213.883333,1456.016667,296.516667,462.050000,0.479012,0.115383,0.071737,0.016529,0.063930,0.106512,0.146896,0.203649,0.317338
61,Yale,671.400000,68.833333,105.500000,91.200000,159.216667,162.566667,124.066667,1382.783333,265.533333,445.850000,0.485542,0.049779,0.076295,0.065954,0.115142,0.117565,0.089722,0.192028,0.322429
62,Cornell,661.700000,145.316667,221.350000,228.900000,88.616667,35.700000,21.450000,1403.033333,595.566667,145.766667,0.471621,0.103573,0.157765,0.163147,0.063161,0.025445,0.015288,0.424485,0.103894
63,Princeton,573.316667,164.833333,80.283333,22.183333,206.950000,177.016667,232.200000,1456.783333,267.300000,616.166667,0.393550,0.113149,0.055110,0.015228,0.142060,0.121512,0.159392,0.183486,0.422964

In [36]:
## Output the results to a CSV file
output_file_path = '../TEMP/lead_Trail_season_aggregate_stats.csv'
season_aggregate_stats_df.to_csv(output_file_path, index=False)